<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LimitLess Expenditure</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300"/>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="favicon.ico" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- font awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>

  <body>

      <!-- Nav Bar -->
    <div class="headers container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark headers">
        <h1 class="heading navbar-brand" > LimitLess Expenditure </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" >

            <li class="nav-item active">
              <% if(!btntype){ %>
                <a class="nav-link" href="/login"><button type="button" class="btn btn-dark  " ><i class="fas fa-user-plus"></i> Sign In</button></a>
              <%  }else{ %>
                <a class=" nav-link"  href="/logout"><button type="button" class=" btn btn-dark  " ><i class="fas fa-sign-out-alt"></i></i> Log Out</button></a>
              <%  } %>
            </li>
            <li class=" nav-item active">
              <a class="nav-link" href="/register"><button type="button" class="mmargin btn btn-outline-light  " ><i class="fas fa-registered"></i> Register</button></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="tasktab container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <a class="nav-link" href="/list"><button  type="button" class="btn btn-dark  " ><i class="fas fa-list-alt 5x"></i> TODO</button></a>
        </div>
        <div class="col-sm-6 ">
          <a class="nav-link" href="/daily"><button  type="button" class="btn btn-dark  " ><i class="fas fa-chart-line"></i>BUDGET</button></a>
        </div>
      </div>
    </div>


